@import (reference) 'src/styles/mixins';
@import (reference) 'src/styles/font';

.TaskForm {
  &__Cell {
    background-color: @c-gray-20;
    padding: 0;

    &_Title {
      width: 100%;
    }

    &_Control {
      .fluid-prop-md(width, 36px, 48px);

      text-align: center;
    }
  }
}
