@import (reference) 'src/styles/font';
@import (reference) 'src/styles/mixins';

.TaskItem {
  &__Button {
    .f_p();
    .fluid-prop-sm(padding, @grid-offset-sm / 2, @grid-offset-md / 2);

    border: 2px solid @c-black-05;
    color: inherit;
    cursor: pointer;
    display: block;
    width: 100%;
  }

  &__Title {
    .f_p();
    .fluid-prop-sm(padding, @grid-offset-sm / 2, @grid-offset-md / 2);

    background-color: transparent;
    border: 2px solid @c-black-05;
    display: block;
    text-align: left;
    width: 100%;

    &_Current {
      font-weight: bold;
    }
  }

  &__Cell {
    background-color: @c-black-05;
    padding: 0;

    &_Control {
      .fluid-prop-sm(width, 42px, 60px);

      text-align: center;
    }
  }
}
