@import (reference) 'src/styles/font';
@import (reference) 'src/styles/mixins';
@import (reference) 'src/styles/offset';

.TaskItem {
  &__Title {
    .ellipsis(1);
    .fluid-prop-sm(min-height, 24px, 28px);
    .offset();

    display: block;
    text-align: left;
  }

  &_Hover .Table__Cell {
    cursor: pointer;
    transition: background-color @animation, border @animation, color @animation;
  }

  &_Hover:hover .Table__Cell, &_Hover:hover .Table__Cell {
    background-color: @c-gray-30;
    transition: background-color @animation-hover, border @animation-hover, color @animation-hover;
  }

  &_Current .Table__Cell {
    background-color: @c-gray-30;
  }
}
