@import (reference) 'src/styles/font';
@import (reference) 'src/styles/mixins';

.GameMember {
  &__Name {
    .ellipsis(1);

    position: relative;

    &:before {
      background-color: @c-gray-40;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      top: 0;
      width: 4px;
    }

    &_Online {
      &:before {
        background-color: @c-success-50;
      }
    }

    &_Creator {
      &:before {
        background-color: @c-warning-40;
      }
    }

    &_Self {
      &:before {
        background-color: @c-info-30;
      }
    }
  }
}
