.GameItemContent {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;

  &__Header {

  }

  &__Title {
    text-align: center;
  }

  &__Main {
    flex-basis: 100%;
  }

  &__MemeberList {

  }

  &__TaskList {

  }

  &__Control {

  }
}
