@import (reference) 'src/styles/font';
@import (reference) 'src/styles/mixins';

.Header {
  background-color: @c-primary-20;
  color: @c-black-50;

  &__Inner {
    .fluid-prop-sm(padding-bottom, @grid-offset-sm, @grid-offset-md);
    .fluid-prop-sm(padding-top, @grid-offset-sm, @grid-offset-md);

    align-items: center;
    display: flex;
    overflow: hidden;
  }

  &__Title {
    .ellipsis(1);

    flex-basis: 100%;
  }

  &__TitleLink {
    @color: @c-black-60;

    color: @color;
    text-decoration: none;

    &:link {
      color: @color;
    }

    &:visited {
      color: @color;
    }

    &:hover {
      color: @color;
    }

    &:active {
      color: @color;
    }

    &:focus-visible {
      color: @color;
    }
  }

  &__Lang {
    .fluid-prop-sm(margin-left, @grid-offset-sm * 2, @grid-offset-md * 2);

    flex-shrink: 0;
  }
}
