@import (reference) 'src/styles/font';
@import (reference) 'src/styles/mixins';

.Header {
  background-color: @c-gray-40;
  color: @c-gray-100;
  height: 100%;

  &__Inner {
    align-items: center;
    display: flex;
    height: 100%;
  }

  &__Divider {
    flex-basis: 100%;
  }

  &__Lang {
    flex-shrink: 0;
    margin-left: 32px;
  }
}