@import (reference) 'src/styles/mixins';
@import (reference) 'src/styles/font';

.LocaleSelector {
  .f_h6();
  .fluid-prop-sm(padding, @grid-offset-sm / 2, @grid-offset-md / 2);

  background-color: @c-primary-20;
  border: 0;
  color: @c-black-40;
  cursor: pointer;
  display: block;
  width: 100%;

  &:hover, &:focus-visible {
    background-color: @c-primary-30;
  }

  &:disabled {
    background-color: @c-primary-10;
    border-color: @c-black-10;
    color: @c-black-20;
    cursor: not-allowed;
    pointer-events: none;
  }
}
