// набор системной цветовой палитры.
//@c-error-50: #e22109;
//@c-error-40: #fde9e7;

//@c-info-50: #f4b920;
//@c-info-40: #fdf1d2;

@c-mark-50: #ffed00;
//@c-success-50: #bae637;
@c-success-60: #a0d911;
//@c-success-70: #7cb305;
//@c-warning-50: #ffca3a;

// набор цветовой палитры сайта
//@c-primary-100: #030852;
//@c-primary-90: #061178;
//@c-primary-80: #10239e;
//@c-primary-70: #1d39c4;
@c-primary-60: #2f54eb;
@c-primary-50: #597ef7;
@c-primary-40: #85a5ff;
@c-primary-30: #adc6ff;
@c-primary-20: #d6e4ff;
@c-primary-10: #f0f5ff;

//@c-secondary-100: #e1402c;
//@c-secondary-90: #f5503c;
//@c-secondary-80: #fa5a47;
//@c-secondary-70: #997e71;
//@c-secondary-60: #bea597;
//@c-secondary-50: #ccc5c0;
//@c-secondary-40: #d9d1cc;
//@c-secondary-30: #fccbc5;
//@c-secondary-20: #f2ebe4;
//@c-secondary-10: #fff8f0;

// набор оттенков серого.
//@c-gray-100: #242424;
//@c-gray-90: #4a4a4a;
//@c-gray-80: #707070;
//@c-gray-70: #969696;
@c-gray-60: #bcbcbc;
//@c-gray-50: #c9c9c9;
@c-gray-40: #d6d6d6;
@c-gray-30: #e3e3e3;
@c-gray-20: #f0f0f0;
@c-gray-10: #fcfcfc;

@c-black: #000000;
@c-white: #ffffff;

// полупрозрачный белый
//@c-white-80: fade(@c-white, 80%);
//@c-white-60: fade(@c-white, 60%);
//@c-white-50: fade(@c-white, 50%);
//@c-white-40: fade(@c-white, 40%);
//@c-white-30: fade(@c-white, 30%);
//@c-white-20: fade(@c-white, 20%);
//@c-white-10: fade(@c-white, 10%);
//@c-white-05: fade(@c-white, 5%);

// полупрозрачный чёрный
//@c-black-80: fade(@c-black, 80%);
@c-black-60: fade(@c-black, 60%);
@c-black-50: fade(@c-black, 50%);
@c-black-40: fade(@c-black, 40%);
@c-black-30: fade(@c-black, 30%);
@c-black-20: fade(@c-black, 20%);
@c-black-10: fade(@c-black, 10%);
//@c-black-05: fade(@c-black, 5%);
