@import (reference) 'src/styles/font';
@import (reference) 'src/styles/mixins';

.Input {
  .f_p();
  .fluid-prop-md(padding, @grid-offset-sm - 2px, @grid-offset-md - 2px);

  border: 2px solid @c-black-30;
  color: @c-black-50;
  display: block;
  width: 100%;
  transition: border @animation, color @animation;

  &:hover, &:focus-visible {
    border: 2px solid @c-black-40;
    transition: border @animation-hover, color @animation-hover;
  }

  &:disabled {
    border: 2px solid @c-black-20;
    color: @c-black-20;
    cursor: not-allowed;
    pointer-events: none;

    &::placeholder {
      color: @c-black-20;
    }
  }

  &::placeholder {
    color: @c-black-30;
  }
}
