@import (reference) 'src/styles/font';
@import (reference) 'src/styles/mixins';

.Input {
  .f_p();
  @multiplier-hor: 3;
  @multiplier-ver: 2;
  @offset-hor-sm: @grid-offset-sm * @multiplier-hor - 2px;
  @offset-ver-sm: @grid-offset-sm * @multiplier-ver - 2px;
  @offset-hor-md: @grid-offset-md * @multiplier-hor - 2px;
  @offset-ver-md: @grid-offset-md * @multiplier-ver - 2px;

  .fluid-prop-sm(padding-bottom, @offset-ver-sm, @offset-ver-md);
  .fluid-prop-sm(padding-left, @offset-hor-sm, @offset-hor-md);
  .fluid-prop-sm(padding-right, @offset-hor-sm, @offset-hor-md);
  .fluid-prop-sm(padding-top, @offset-ver-sm, @offset-ver-md);

  border-style: solid;
  border-width: 2px;
  display: block;
  width: 100%;
  transition: background-color @animation, border-color @animation, color @animation;

  .theme_light & {
    background-color: @c-white;
    border-color: @c-black-30;
    color: @c-black-50;
  }

  .theme_dark & {
    background-color: @c-gray-100;
    border-color: @c-white-20;
    color: @c-white-40;
  }

  &:hover, &:focus-visible {
    transition: border-color @animation-hover;

    .theme_light & {
      border-color: @c-black-40;
    }

    .theme_dark & {
      border-color: @c-white-30;
    }
  }

  &::placeholder {
    transition: color @animation;

    .theme_light & {
      color: @c-black-30;
    }

    .theme_dark & {
      color: @c-white-20;
    }
  }

  &:disabled {
    border-style: solid;
    border-width: 2px;
    cursor: not-allowed;
    pointer-events: none;

    .theme_light & {
      border-color: @c-black-20;
      color: @c-black-20;
    }

    .theme_dark & {
      border-color: @c-white-10;
      color: @c-white-20;
    }

    &::placeholder {
      .theme_light & {
        color: @c-black-20;
      }

      .theme_dark & {
        color: @c-white-10;
      }
    }
  }
}
